html{
    font-family: Verdana, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 12px;

}

body {
    background-color: black;
    color: white;
    margin: 8px;
    

}

.head{
    font-size: 50px;
    font-weight: normal;
}

#download{
    color: aquamarine;
    font: 16px;
}